@page "/error"
@{
    Layout = null;
}

<html>
    <head>
        <title>Error - Sports Store</title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body class="text-center">
        <h2 class="text-danger">Error</h2>
        <h3 class="text-danger">An error occured while processing your request.</h3>
    </body>
</html>
